[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
